/*===========================(reset styles)====================*/
html {
  font-size: 62.5%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 1.8rem;
  font-family: "Tilt Neon", cursive;
}
p {
  margin: 0;
}
h1,
h2,
h3 {
  margin: 0;
}
