/*===========================(reset styles)====================*/
html {
  font-size: 62.5%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 1.8rem;
  font-family: "Tilt Neon", cursive;
}
p {
  margin: 0;
}
h1,
h2,
h3 {
  margin: 0;
}
/*==========(Navbar)========*/
.nav {
  height: 70px;
  background-color: #274472;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.logo {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  color: white;
  cursor: default;
}
.nav a {
  text-decoration: none;
  color: #c3e0e5;
}
.nav .btn {
  cursor: pointer;
}

/*===========================(wrapper)====================*/
.wrapper {
  width: 90%;
  margin: 50px auto;
}
/*===========================(Form)====================*/
form {
  max-width: 400px;
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
form p {
  font-size: 2rem;
}
.btn-add {
  display: block;
}

.title,
.text {
  padding: 8px;
  font-size: 1.6rem;
  font-family: "Tilt Neon", cursive;
  border: 1px solid #333;
}
.text,
.title,
.btn-add {
  width: 100%;
  border-radius: 3px;
  outline: none;
}
.text {
  resize: none;
  height: 150px;
}
.btn-add {
  padding: 1.2rem 0;
  font-family: "Tilt Neon", cursive;
  font-size: 1.8rem;
  cursor: pointer;
  border: none;
  background-color: #274472;
  color: #c3e0e5;
  transition: 0.3s ease-in-out;
}
.btn-add:active,
.note-btns button {
  transform: scale(0.95);
}

/*===========================(notes)====================*/
.notes-wrapper {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  max-width: 1536px;
  margin-top: 20px;
}
.notes-title {
  margin-top: 30px;
}
.note-btns {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}
.edit__button,
.delete__button {
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: "Shantell Sans", cursive;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 12px;
  color: #f1f1f1;
}
.delete__button {
  background-color: #e63946;
}
.edit__button {
  background-color: #274471;
}
.notes {
  font-family: "Shantell Sans", cursive;
}
.note {
  background-color: #cfd7c7;
  padding: 10px;
  border-radius: 2px;
  max-width: 350px;
  width: 100%;
  box-shadow: 3px 4px 6px -1px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 3px 4px 3px -3px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 3px 4px 6px -1px rgba(0, 0, 0, 0.75) inset;
  opacity: 0.5;
  animation: fadeIn 0.3s ease-out forwards;
}
.note h3 {
  font-weight: 500;
  font-size: 2.5rem;
}
/*==========(Fade-in effects for notes)========*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*==========(Posts)========*/
.spinner {
  width: 5rem;
}

/*=======================(Login)===========================*/
.login {
  position: absolute;
  top: 70px;
  left: 0;
  height: calc(100vh - 70px);
  width: 100%;
}
.login,
.login .content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login .content {
  flex-direction: column;
  gap: 10px;
}
.login button {
  font-family: "Tilt Neon", cursive;
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
  padding: 1.5rem 3rem;
  display: flex;
  background-color: #274471;
  color: #c3e0e5;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}
.login button:active {
  transform: scale(0.9);
}
.login h2 {
  font-size: 4rem;
  max-width: 40rem;
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
}
.login button .icon {
  font-size: 3rem;
}

/*=======================(Modal)===========================*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 90%;
  margin: 0 auto;
}
.modal-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.modal-message {
  margin-bottom: 20px;
}
.modal-btns {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}
.modal-btn {
  background-color: #274472;
  color: #c3e0e5;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}

/*==========(Styling for tablet and mobile screens)========*/
@media (max-width: 768px) {
  .note,
  form {
    max-width: 100%;
  }
  .login h2 {
    font-size: 3rem;
    width: 80%;
  }
  .login button {
    padding: 1.2rem 2.2rem;
    font-size: 1.6rem;
  }
}
